@import './_libs';
@import './_vars';
@import './_mixins.scss';
@import './_fonts';

// common styles
* {

  font-family: Roboto, serif;
}

.icon {
  width: 128px;
  height: 128px;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
}

// end common styles

@import './_imports'
