doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document

  body
    include ../components/header.pug

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img(src=require("@img/cat.jpg"))
        .swiper-slide
          img(src=require("@img/cat.jpg"))
        .swiper-slide
          img(src=require("@img/cat.jpg"))
        .swiper-slide
          img(src=require("@img/cat.jpg"))

    svg.icon
      use(xlink:href="#_sprite_cat")
    svg.icon
      use(xlink:href="#_sprite_dog")
    svg.icon
      use(xlink:href="#_sprite_cat")
